

body{
  background-color: rgb(60, 44, 90);
}

.boardContainer{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgb(45, 24, 87);
  border-radius: 8px;
}

.board{

  margin: 10px auto;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 4fr 4fr 4fr 4fr;
  color: black;
  justify-content: center;
  height: 750px;
  width: 900px;
  grid-gap: 20px;
}

.sidebar{
background-color: rgb(45, 24, 87);
grid-column: span 1;
grid-row: span 4;
margin-left: 10px;
}

.main{
background-color: blue; grid-area: main;


}

.square{
  border-radius: 8px;
  background-color: yellow;
}

.reviews, .rating, .setiments{
  background-color: aqua;
grid-column: span 1;
grid-row: span 2;
margin-top: 40px;
}

.setiments{
  margin-right: 15px;
}

.website{
  background-color: yellow;
  grid-column: span 3;
  grid-row: span 2;
  margin-right: 15px;
  height: 350px;
}